@charset "UTF-8";
body {
	min-width: 500px;
}

div {
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
}

img {
	width: 90%;
	height: 50%;
}