@charset "UTF-8";
body{
	min-width : 700px;
}
div{
 border: 1px solid gray;
 margin: 5px;
 padding: 10px;
 width: 28%;
 height: 100%;
 float :left;
 text-align: center;
}
img{
	width: 80%;
	height: 50%;
}