@charset "UTF-8";
body{
	min-width : 1200px;
}
header {
	width: calc(100% - 1%);
	height: 100px;
	background: #B8D7FF;
	float: header;
	border-radius: 50px;
}

nav {
	border : 5px solid #A390EE;
	margin: 5px 0px;
	width: calc(100% - 1%);
	height: 50px;
	background:  #A390EE;
	border-radius: 50px;
	padding-bottom: 15px;
}

#left {
	width: calc(20% - 1%);
	height: 600px;
	background: #5BFFB0;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 20px;
}

section {
	margin-top: 5px;
	width: calc(60% - 1%);
	height: 600px;
	background: #FDF5D2;
	padding: 5px;
	float: left;
	z-index: -1;
	border-radius: 20px;
}

#right {
	margin-top: 5px;
	width: calc(20% - 1%);
	height: 600px;
	background: #D7A45E;
	padding: 5px;
	float: right;
	border-radius: 20px;
}


footer {

	margin: 5px;
	width: 100%;
	height: 60px;
	background: #C45FDD;
	float: footer;
	clear: both;
	border-radius: 50px;
}

#cart {
	
	width: 50px;
	height: 50px;
	margin: 30px 10px 30px 30px;
	float: left;
}

#title {
	margin: 30px 0px;
	float: left;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

ul{
list-style-type: none;
padding-left:0px;
}
nav ul{
	padding-left: 100px;
}
nav ul li{
	float : left;
	margin-left: 100px;
	text-decoration:none;
}
nav ul li a{
	font-size: 20px;
	color: white;
	letter-spacing: 5px;
}
#left ul{
	margin-top: 100px;
	height: 300px;
	
}
#left ul li{
	width: 90%;
	height: 30px;
	border: 1px solid hotpink;
	background : pink;
	padding: 10px 10px 0px ;
}
#article1 {
 	width: 100%;
	height:100%;
	padding-bottom: 20px; 
	border-radius: 20px;
}

iframe{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

#shopcart p{
	font-size: 13px;
}
#shopcart a{
	
	text-decoration: underline;
}
#shopcart a:visited{
	color: blue;
	text-decoration: underline;
}
#shopcart a:hover{
	background : gray;
	color: blue;
	text-decoration: underline;
}
.register{
	font-size: 15px;
} 
.register:hover{
	text-decoration: underline;
}
.register:visited{

color: blue;
text-decoration: underline;
}
footer p{
padding : 20px;
text-align: center;
}
