@charset "UTF-8";
h2{
	text-align: center;
}
form{
	margin : 30px auto;
	padding : 30px auto;
	width : 60%;
	
}
table{
border: 4px double gary;
border-collapse: collapse;
margin: 30px auto;
}

#a1{
	width: 250px;
}
#a2{
	width: 200px;
}
#a3{
	width: 50px;
}
#a4{
	width: 100px;
}
input[type=number]{
	width: 80px;
}
p{
	text-align: center;
}
th{
	height: 40px;
}
td{
	text-align: center;
	height: 40px;
}