@charset "UTF-8";
pre{
	border : 1px dotted blue;
	/* background : skyblue; */
	background-image : linear-gradient(skyblue, white);
	margin : 10px;
	padding : 10px;
	font-size : 1.2em;
	height : auto;
}
div{
	width : 100%;
	height : auto;
	border : 1px solid red;
	/* background : yellow; */
	background-image : linear-gradient(to right, yellow, white);
	margin : 5px;
}
form{
	border : 1px solid blue;
 	margin : 30px;
 	padding : 30px;
 	width : 50%;
}
label{
	display : inline-block;
 	width :100px;
 	height: 40px;
}
.box div{
	margin : 10px;
	padding : 5px;
	border : 1px dotted orange;
	height: auto;
	background : #fadab2;
}
.box input[type=button], .box button{
	margin : 5px ;
	width : 50px;
	height: 30px;
	background : blue;
	color : white;
	border-radius : 20px;
}